.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 25px;
    padding: 10px;
    margin: 20px;
    
    border: 5px solid;
    /* Include box-shadow in the transition property */
    transition: transform 0.3s ease, box-shadow 0.5s ease; 
}

.card:hover {
    box-shadow: inset 1px 1px 6px rgba(255, 255, 255, 0.3), 2px 2px 15px rgba(0, 0, 0, 0.5);
    transform: scale(1.03); /* Slightly increases the size */
}