.app-container {
  display: flex;
  height: 100vh;
  width: 100vw; /* Ensure it takes the full viewport width */
  align-items: center;
  justify-content: space-around;
  background-color: rgb(155, 176, 104);
}

.sidebar-container {
  /* Set a fixed width or flex-basis for the sidebar as per your design */
  width: 30%; /* Example: 250px width for the sidebar */
}

/* Ensure ChatRoom takes the remaining space */
.chat-room-container {
  display: flex;
  flex-direction: column;

  justify-content: space-around;

  height: 90%; 
  width: 55%;
  background-color: rgba(255, 255, 255, 0);
}


